#dashboard {
    h1 {
        color: $header-text-color;
        font-weight: bold;
        font-size: 36px;
    }

    p {
        color: $subtitle-text-color;
        font-size: 16px;
    }

    .card-footer-blue {
        background-color: $header-text-color;
        height: 1rem;
        border-bottom-left-radius: var(--bs-card-border-radius);
        border-bottom-right-radius: var(--bs-card-border-radius);
    }

    .barcanvas {
        height: 300px;
    }

    .position-circle {
        width: 12px;
        height: 12px;
    }

    .doughnut-chart-container {
        height: 200px;
        width: 200px;
        flex-shrink: 0;
    }
}
